[Desktop Entry]
Name=Robo 3T
Comment=Native and cross-platform MongoDB manager
Exec=robo3t
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Categories=GNOME;GTK;Network;Utility
StartupWMClass=robo3t
